<p id="notice"><%= notice %></p>

<p>
  <strong>Project post title:</strong>
  <%= @project_post.project_post_title %>
</p>

<p>
  <strong>Project post description:</strong>
  <%= @project_post.project_post_description %>
</p>

<p>
  <strong>Project post url:</strong>
  <%= @project_post.project_post_url %>
</p>

<p>
  <strong>Project post type:</strong>
  <%= @project_post.project_post_type %>
</p>

<p>
  <strong>Project post status:</strong>
  <%= @project_post.project_post_status %>
</p>

<p>
  <strong>Project post image:</strong>
  <%= @project_post.project_post_image %>
</p>

<p>
  <strong>Project post images:</strong>
  <%= @project_post.project_post_images %>
</p>

<%= link_to 'Edit', edit_project_post_path(@project_post) %> |
<%= link_to 'Back', project_posts_path %>
